{% extends 'layout.html' %}

{% block body %}
<div>
    {% for channel in channels %}
       <div>
        <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
        <form method="POST" action="/channels/del" style="display:inline;">
            <input type="hidden" name="cid" value="{{ channel.id }}"/>
            <input type="hidden" name="name" value="{{ channel.name }}"/>
            <input type="submit" value="Delete"/>
        </form>
       </div>
    {% endfor %}
    <br/>
    <br/>
    <form method="POST" action="/channels/add">
       Add channel:
       Name:<input type="text" name="name"/>
       <input type="submit" value="Save"/>
    </form>
</div>
{% endblock body %}