{% extends 'layout.html' %}

{% block body %}
<div>
    Channel: {{ channel.name }}
</div>
<br/>
<div>
    <p>Hosts:</p>
    <ul>
        {% for host in hosts %}
            <li>
                {{ host }}
                <form method="POST" action="/channels/del-host" style="display:inline;">
                    <input type="hidden" name="cid" value="{{ channel.id }}"/>
                    <input type="hidden" name="name" value="{{ channel.name }}"/>
                    <input type="hidden" name="host" value="{{ host }}"/>
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <form method="POST" action="/channels/add-host">
       <input type="hidden" name="cid" value="{{ channel.id }}"/>
       <input type="hidden" name="name" value="{{ channel.name }}"/>
       Add host: Name:<input type="text" name="host"/> SNI?:<input type="checkbox" name="sni"/>
       <input type="submit" value="Save"/>
    </form>
</div>
{% endblock body %}