<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Web interface for API</title>
</head>
<body>
    <div>
        <a href="/users/">Users</a>
        <a href="/regions/">Regions</a>
        <a href="/channels/">Channels</a>
    </div>
    <div>
        {% for msg in get_flashed_messages() %}
            <p style="font-color:red;">{{ msg }}!</p>
        {% endfor %}
    </div>
    <br/>
    <br/>
    {% block body %}{% endblock body %}
</body>
</html>