{% extends 'layout.html' %}

{% block body %}
<div>
    Region: {{ region.name }}, friendlyName: {{ region.friendlyName }}, server: {{ region.server }}
</div>
<br/>
<form method="POST" action="/regions/rename">
    <input type="hidden" name="rid" value="{{ region.id }}"/>
    <input type="hidden" name="name" value="{{ region.name }}"/>
    Rename:
    FriendlyName:<input type="text" name="friendlyName"/>
    <input type="submit" value="Save"/>
</form>
<form method="POST" action="/regions/change-server">
    <input type="hidden" name="rid" value="{{ region.id }}"/>
    <input type="hidden" name="name" value="{{ region.name }}"/>
    Change server:
    Server:<input type="text" name="server"/>
    <input type="submit" value="Save"/>
</form>
<div>
    <p>Hosts:</p>
    <ul>
        {% for ip in region.specHosts %}
            <li>
              Host {{ ip.host }} with IP {{ ip.ip }}
                <form method="POST" action="/regions/del-host" style="display:inline;">
                    <input type="hidden" name="rid" value="{{ region.id }}"/>
                    <input type="hidden" name="name" value="{{ region.name }}"/>
                    <input type="hidden" name="host" value="{{ ip.host }}"/>
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <form method="POST" action="/regions/add-host">
       <input type="hidden" name="rid" value="{{ region.id }}"/>
       <input type="hidden" name="name" value="{{ region.name }}"/>
       Add: Host:<input type="text" name="host"/> IP:<input type="text" name="ip"/>
       <input type="submit" value="Save"/>
    </form>
</div>
{% endblock body %}