{% extends 'layout.html' %}

{% block body %}
<div>
    {% for region in regions %}
       <div>
        <a href="/region/{{ region.id }}">{{ region.name }}</a>
        <form method="POST" action="/regions/del" style="display:inline;">
            <input type="hidden" name="rid" value="{{ region.id }}"/>
            <input type="hidden" name="name" value="{{ region.name }}"/>
            <input type="submit" value="Delete"/>
        </form>
       </div>
    {% endfor %}
    <br/>
    <br/>
    <form method="POST" action="/regions/add">
       Add region:
       Name:<input type="text" name="name"/>
       Host:<input type="text" name="host"/>
       FriendlyName:<input type="text" name="friendlyName"/>
       <input type="submit" value="Save"/>
    </form>
</div>
{% endblock body %}