{% extends 'layout.html' %}

{% block body %}
<div>
    User: {{ user.name }}
</div>
<hr/>
<div>
    <p>Services:</p>
    <ul>
	    {% for service in us %}
		    <li>
		      {{ service }}
			    <form method="POST" action="/users/del-service" style="display:inline;">
			        <input type="hidden" name="uid" value="{{ user.id }}"/>
	 	            <input type="hidden" name="username" value="{{ user.name }}"/>
	 	            <input type="hidden" name="service_name" value="{{ service }}"/>
		            <input type="submit" value="Delete"/>
			    </form>
			</li>
		{% endfor %}
	</ul>
	<br/>
	<br/>
	<form method="POST" action="/users/add-service">
	   <input type="hidden" name="uid" value="{{ user.id }}"/>
	   <input type="hidden" name="username" value="{{ user.name }}"/>
	   Add:
	   <select name="service_name">
	       {% for s in services %}
	           <option value="{{ s.name }}">{{ s.name }}</option>
	       {% endfor %}
	   </select>
	   <input type="submit" value="Save"/>
	</form>
</div>
<hr/>
<div>
    <p>IPs:</p>
    <ul>
        {% for ip in user.ips %}
            <li>
                {{ ip.ip }} with regions
                <ul>
                    {% for rel in ip.relations %}
                        <li>
                            {% if rel.default %}
                                default region {{ rel.region.name }}
                            {% else %}
                                region {{ rel.region.name }} for channel {{ rel.channel.name }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <form method="POST" action="/users/del-ip" style="display:inline;">
                    <input type="hidden" name="uid" value="{{ user.id }}"/>
                    <input type="hidden" name="username" value="{{ user.name }}"/>
                    <input type="hidden" name="ip" value="{{ ip.ip }}"/>
                    <input type="submit" value="Delete"/>
                </form>
            </li>
            <br/>
        {% endfor %}
    </ul>
    <hr/>
    <form method="POST" action="/users/add-ip">
       <input type="hidden" name="uid" value="{{ user.id }}"/>
       <input type="hidden" name="username" value="{{ user.name }}"/>
       Add: 
       IP:<input type="text" name="ip"/>
       TTL:<input type="text" name="ttl"/>
       Default region:<select name="region">
           {% for region in regions %}
               <option value="{{ region }}">{{ region }}</option>
           {% endfor %}
       </select>
       <br/>
       channel:<select name="channels">
       {% for channel in channels %}
           <option value="{{ channel }}">{{ channel }}</option>
       {% endfor %}
       </select>
       region:<select name="regions">
       {% for region in regions %}
           <option value="{{ region }}">{{ region }}</option>
       {% endfor %}
       </select>
       <br/>
       channel:<select name="channels">
       {% for channel in channels %}
           <option value="{{ channel }}">{{ channel }}</option>
       {% endfor %}
       </select>
       region:<select name="regions">
       {% for region in regions %}
           <option value="{{ region }}">{{ region }}</option>
       {% endfor %}
       </select>
       <br/>
       <input type="submit" value="Save"/>
    </form>
</div>
{% endblock body %}