{% extends 'layout.html' %}

{% block body %}
<div>
	{% for user in users %}
	   <div>
	    <a href="/user/{{ user.id }}">{{ user.name }}</a>
	    <form method="POST" action="/users/del" style="display:inline;">
            <input type="hidden" name="uid" value="{{ user.id }}"/>
            <input type="hidden" name="username" value="{{ user.name }}"/>
            <input type="submit" value="Delete"/>
        </form>
       </div>
	{% endfor %}
	<br/>
	<br/>
	<form method="POST" action="/users/add">
       Add user:
       Name:<input type="text" name="username"/>
       Password:<input type="text" name="password"/>
       <input type="submit" value="Save"/>
    </form>
</div>
{% endblock body %}